In [116]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [117]:
df = pd.read_csv("data/responses.csv")

df.head()

,Last Name,First Name,Sex,Year Level,Section,How many cups of coffee can you consume in a week?,Coffee enhances my focus and concentration during academic activities.,I find that having coffee positively impacts my overall academic performance.,Coffee is an essential part of my study routine.,I believe that having coffee enhances my creativity and problem-solving skills when working on academic tasks.,Coffee helps me stay alert during lectures and discussions.,I feel more motivated to engage in academic activities when I have coffee.,Having coffee enhances my ability to retain and recall information while studying.,Coffee is a helpful tool for managing academic stress and workload.,I believe incorporating coffee into academic activities positively impacts my overall learning experience.,Coffee plays a significant role in creating a positive and productive academic environment for me.,What is your average grade from the first semester of A.Y. 2023-24?
0,Kho,Ramil Jerome,Male,3rd Year,A,3,Disagree,Disagree,Disagree,Disagree,Disagree,Disagree,Disagree,Disagree,Disagree,Disagree,1.625
1,Hualde,Dustin Angelo,Male,3rd Year,A,6,Neutral,Neutral,Disagree,Neutral,Agree,Neutral,Neutral,Disagree,Disagree,Agree,1.788
2,Barrameda,Jerric,Male,3rd Year,B,10,Disagree,Neutral,Strongly disagree,Strongly disagree,Neutral,Agree,Strongly disagree,Agree,Disagree,Agree,1.800
3,Flores,Patrick,Male,3rd Year,A,3,Agree,Agree,Disagree,Neutral,Neutral,Agree,Neutral,Strongly agree,Agree,Agree,1.550
4,Hualde,Dustin Angelo,Male,3rd Year,A,6,Neutral,Disagree,Disagree,Disagree,Neutral,Disagree,Disagree,Agree,Disagree,Neutral,1.788

In [118]:
def convert_to_gwa(final_grade):
  if final_grade >= 98:
    return 1.0
  elif final_grade >= 95:
    return 1.25
  elif final_grade >= 92:
    return 1.5
  elif final_grade >= 89:
    return 1.75
  elif final_grade >= 85:
    return 2.0
  elif final_grade >= 82:
    return 2.25
  elif final_grade >= 79:
    return 2.5
  elif final_grade >= 75:
    return 2.75
  elif final_grade >= 72:
    return 3.0
  else:
    return final_grade

In [119]:
df = df.rename(columns = {
    'How many cups of coffee can you consume in a week?':'Coffee Consumed per Week',
    'Coffee enhances my focus and concentration during academic activities.':'Coffee Perception 1',
    'I find that having coffee positively impacts my overall academic performance.':'Coffee Perception 2',
    'Coffee is an essential part of my study routine.':'Coffee Perception 3',
    'I believe that having coffee enhances my creativity and problem-solving skills when working on academic tasks.':'Coffee Perception 4',
    'Coffee helps me stay alert during lectures and discussions.':'Coffee Perception 5',
    'I feel more motivated to engage in academic activities when I have coffee.':'Coffee Perception 6',
    'Having coffee enhances my ability to retain and recall information while studying.':'Coffee Perception 7',
    'Coffee is a helpful tool for managing academic stress and workload.':'Coffee Perception 8',
    'I believe incorporating coffee into academic activities positively impacts my overall learning experience.':'Coffee Perception 9',
    'Coffee plays a significant role in creating a positive and productive academic environment for me.':'Coffee Perception 10',
    'What is your average grade from the first semester of A.Y. 2023-24?':'A.Y. 2023-2024 1st Semester Average Grade'
})

df['A.Y. 2023-2024 1st Semester Average Grade'] = df['A.Y. 2023-2024 1st Semester Average Grade'].apply(convert_to_gwa)

df.head()

,Last Name,First Name,Sex,Year Level,Section,Coffee Consumed per Week,Coffee Perception 1,Coffee Perception 2,Coffee Perception 3,Coffee Perception 4,Coffee Perception 5,Coffee Perception 6,Coffee Perception 7,Coffee Perception 8,Coffee Perception 9,Coffee Perception 10,A.Y. 2023-2024 1st Semester Average Grade
0,Kho,Ramil Jerome,Male,3rd Year,A,3,Disagree,Disagree,Disagree,Disagree,Disagree,Disagree,Disagree,Disagree,Disagree,Disagree,1.625
1,Hualde,Dustin Angelo,Male,3rd Year,A,6,Neutral,Neutral,Disagree,Neutral,Agree,Neutral,Neutral,Disagree,Disagree,Agree,1.788
2,Barrameda,Jerric,Male,3rd Year,B,10,Disagree,Neutral,Strongly disagree,Strongly disagree,Neutral,Agree,Strongly disagree,Agree,Disagree,Agree,1.800
3,Flores,Patrick,Male,3rd Year,A,3,Agree,Agree,Disagree,Neutral,Neutral,Agree,Neutral,Strongly agree,Agree,Agree,1.550
4,Hualde,Dustin Angelo,Male,3rd Year,A,6,Neutral,Disagree,Disagree,Disagree,Neutral,Disagree,Disagree,Agree,Disagree,Neutral,1.788

In [120]:
replacer = {'Strongly disagree':1, 'Disagree':2, 'Neutral':3, 'Agree':4, 'Strongly agree':5, 'Male':1, 'Female':2}

perception_cols = ['Coffee Perception 1', 'Coffee Perception 2', 'Coffee Perception 3', 'Coffee Perception 4', 'Coffee Perception 5', 'Coffee Perception 6',
                   'Coffee Perception 7', 'Coffee Perception 8', 'Coffee Perception 9', 'Coffee Perception 10']

cols = df.columns[df.dtypes == 'object']

df[cols] = df[cols].replace(replacer)

df['Perception Mean'] = df[perception_cols].mean(axis=1)

df.head()

,Last Name,First Name,Sex,Year Level,Section,Coffee Consumed per Week,Coffee Perception 1,Coffee Perception 2,Coffee Perception 3,Coffee Perception 4,Coffee Perception 5,Coffee Perception 6,Coffee Perception 7,Coffee Perception 8,Coffee Perception 9,Coffee Perception 10,A.Y. 2023-2024 1st Semester Average Grade,Perception Mean
0,Kho,Ramil Jerome,1,3rd Year,A,3,2,2,2,2,2,2,2,2,2,2,1.625,2.0
1,Hualde,Dustin Angelo,1,3rd Year,A,6,3,3,2,3,4,3,3,2,2,4,1.788,2.9
2,Barrameda,Jerric,1,3rd Year,B,10,2,3,1,1,3,4,1,4,2,4,1.800,2.5
3,Flores,Patrick,1,3rd Year,A,3,4,4,2,3,3,4,3,5,4,4,1.550,3.6
4,Hualde,Dustin Angelo,1,3rd Year,A,6,3,2,2,2,3,2,2,4,2,3,1.788,2.5

In [121]:
df.describe()

,Sex,Coffee Consumed per Week,Coffee Perception 1,Coffee Perception 2,Coffee Perception 3,Coffee Perception 4,Coffee Perception 5,Coffee Perception 6,Coffee Perception 7,Coffee Perception 8,Coffee Perception 9,Coffee Perception 10,A.Y. 2023-2024 1st Semester Average Grade,Perception Mean
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,1.250000,4.708333,3.333333,3.208333,3.041667,2.958333,3.416667,3.291667,3.041667,3.291667,3.125000,3.458333,1.825667,3.216667
std,0.442326,3.883960,1.167184,1.062367,1.301476,1.041703,1.248187,1.041703,1.041703,1.267629,1.115601,1.102533,0.454175,0.978316
min,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.210000,1.000000
25%,1.000000,2.000000,3.000000,3.000000,2.000000,2.750000,3.000000,3.000000,3.000000,2.750000,2.000000,3.000000,1.520000,2.875000
50%,1.000000,3.500000,3.000000,3.000000,3.000000,3.000000,3.500000,4.000000,3.000000,3.500000,3.000000,3.500000,1.769000,3.200000
75%,1.250000,6.250000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,2.000000,4.000000
max,2.000000,14.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,3.158000,5.000000

In [122]:
df

,Last Name,First Name,Sex,Year Level,Section,Coffee Consumed per Week,Coffee Perception 1,Coffee Perception 2,Coffee Perception 3,Coffee Perception 4,Coffee Perception 5,Coffee Perception 6,Coffee Perception 7,Coffee Perception 8,Coffee Perception 9,Coffee Perception 10,A.Y. 2023-2024 1st Semester Average Grade,Perception Mean
0,Kho,Ramil Jerome,1,3rd Year,A,3,2,2,2,2,2,2,2,2,2,2,1.625,2.0
1,Hualde,Dustin Angelo,1,3rd Year,A,6,3,3,2,3,4,3,3,2,2,4,1.788,2.9
2,Barrameda,Jerric,1,3rd Year,B,10,2,3,1,1,3,4,1,4,2,4,1.800,2.5
3,Flores,Patrick,1,3rd Year,A,3,4,4,2,3,3,4,3,5,4,4,1.550,3.6
4,Hualde,Dustin Angelo,1,3rd Year,A,6,3,2,2,2,3,2,2,4,2,3,1.788,2.5
5,Jardeleza,Joshua,1,3rd Year,A,14,5,5,5,5,5,5,5,5,5,5,1.900,5.0
6,Chapito,Kanyon,2,3rd Year,B,14,4,4,4,4,4,4,4,4,4,4,1.750,4.0
7,Tan,Justin,1,3rd Year,B,5,4,4,4,3,5,4,3,4,2,3,1.730,3.6
8,Kanding,Chapsoy,1,4th Year,A,7,4,4,4,4,4,4,4,4,4,4,2.000,4.0
9,Hangaga,Kandada,1,1st Year,A,8,4,4,4,4,4,4,4,4,4,4,2.250,4.0
10,Milo,Milo milo,1,2nd Year,A,5,3,3,3,3,3,3,3,3,3,3,2.000,3.0
11,Bibar,Ezra,2,3rd Year,A,3,3,3,2,2,4,3,3,2,3,3,1.750,2.8
12,Bangera,Steven,1,3rd Year,B,1,3,3,3,3,3,3,3,3,3,3,1.430,3.0
13,De la Cruz,Daniel,2,1st Year,A,1,2,3,5,4,1,4,4,1,4,5,1.300,3.3
14,Jerota,Jimmy,1,2nd Year,A,2,4,3,3,3,3,2,4,3,3,3,1.210,3.1
15,Gamboa,Lanz,1,3rd Year,A,4,1,1,1,1,1,1,1,1,1,1,1.800,1.0
16,Dizon,Katrina,2,4th Year,A,3,5,4,5,3,5,4,3,5,4,5,1.400,4.3
17,Balandang,Kathleen,2,3rd Year,A,8,5,4,4,4,4,4,4,4,4,4,1.640,4.1
18,Briones,Jarl,1,4th Year,A,4,5,4,5,3,5,4,4,5,5,5,1.300,4.5
19,Campomanes,Joshua,1,2nd Year,A,2,3,3,3,3,3,3,3,3,3,3,3.158,3.0
20,Cantilero,Justin,1,2nd Year,A,3,4,5,3,3,5,4,3,3,3,3,2.518,3.6
21,Rosadia,Lilia Elvie Corazon,2,2nd Year,A,0,1,1,1,1,1,1,1,1,1,1,1.400,1.0
22,Alejo,Ceazar John,1,3rd Year,B,0,3,3,2,3,3,3,3,3,3,3,2.229,2.9
23,Matalubos,Axon Gabriel,1,3rd Year,B,1,3,2,3,4,4,4,3,4,4,4,2.500,3.5